body {
  margin: 0;
  color: black;
  background-color: #f4f4f4;
  font-family: 'Playfair Display', serif;
  transition: .5s;
  overflow-x: hidden;
}

.circle {
	position: absolute;
  border: solid 1px #ccc;
	width: 60px;
	height: 60px;
  border-radius: 50%;
  opacity: 0;
  z-index: 5;
  pointer-events: none;
  animation:fadeIn 2s .5s forwards;
}
hr {
  border: .5px solid black;
}
a {
  text-decoration: none;
  color: black;
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
.nav-bar {
  height: 5vh;
  font-size: 20px;
  background-color: transparent;
  width: 95%;
  position: fixed;
  top: 8vh;
  margin-left: 5%;
  z-index: 2;
  pointer-events: none;
}


                                            .menu {
                                              display: inline-block;
                                              cursor: pointer;
                                              pointer-events: auto;
                                              padding: 2vh;
                                              transition: .5s;
                                            }
                                            .navigate.link-one {
                                              width: 50%;
                                              text-align: left;
                                              pointer-events: auto;
                                              display: inline-block;
                                              transition: .5s;
                                            }
                                            .navigate.link-one:hover {
                                              color: gray;
                                            }
                                            .menu-container {
                                              text-align: right;
                                              width: 40%;
                                              display: inline-block;
                                            }
                                            .nav-1-container {
                                              text-align: left;
                                              width: 55%;
                                              display: inline-block;
                                              vertical-align: top;
                                              margin-top: 1vh;
                                            }
                                            .line1 {
                                              width: 25px;
                                              height: 2px;
                                              background-color: black;
                                              z-index: 20;
                                              transition: .5s;
                                            }
                                            .line2 {
                                              width: 15px;
                                              height: 2px;
                                              background-color: black;
                                              margin-top: 5px;
                                              transition: .5s;
                                            }
                                            .line3 {
                                              width: 25px;
                                              height: 2px;
                                              background-color: black;
                                              margin-top: 5px;
                                              transition: .5s;
                                            }
                                            .menu:hover .line2 {
                                              width: 25px;
                                            }
                                            .menu:hover {
                                              background-color: #63d3ff;
                                            }
                                            .navigation-content {
                                              position: fixed;
                                              height: 0vh;
                                              width: 100vw;
                                              background-color: #ddf8ff;
                                              font-size: 0px;
                                              top: 0;
                                              right: 0;
                                              transition: .5s;
                                              overflow: hidden;
                                            }
                                            .nav-con-container{
                                              width: 100%;
                                              text-align: center;
                                            }
                                            .navigation-content a {
                                              height: 14.2vh;
                                              color: #ddf8ff;
                                              margin: 5vh;
                                              display: inline-block;
                                              text-shadow:
                                              -.5px -.5px 0 #000,
                                              .5px -.5px 0 #000,
                                              -.5px .5px 0 #000,
                                              .5px .5px 0 #000;
                                              transition: .5s;
                                            }
                                            .navigation-content a:hover {
                                              color: black;
                                            }
                                             .three, .five, .seven {
                                            }
                                            .one, .two, .four, .six {

                                            }


.top-container {
  padding-top: 20vh;
  text-align: center;
  width: 100%;
  /*opacity: 0;
  animation: fadeIn 1s .25s forwards;*/
}
                                        .welcome-text {
                                          display: inline-block;
                                          font-size: 15px;
                                          width: 55vw;
                                          margin-left: 5vw;
                                          text-align: left;
                                          transform: translateY(-2vh);
                                        }
                                        .name {
                                          font-size: 13vw;
                                          margin-top: 0vh;
                                          display: inline-block;
                                          pointer-events: none;

                                        }

                                        @keyframes fadeInNow {
                                          100% {
                                            opacity: 1;
                                          }
                                        }
                                        .image-container {
                                          display: inline-block;
                                          position: absolute;
                                          margin-left: 16vw;
                                          margin-top: 4vh;

                                        }
                                        .image-flex {
                                          width: 25vw;
                                          height: 63vh;
                                          overflow: hidden;
                                        }
                                        .image-container img {
                                          filter: brightness(50%);
                                        }
                                        .image-flex img {
                                          height: 63vh;
                                        }
                                        .a-top, .b-top {
                                          transition: 0s;
                                          white-space: nowrap;
                                        }
                                        .a-top {
                                          transform: translateX(-22vw);
                                        }
                                        .b-top {
                                          transform: translateX(12vw);
                                        }
                                        /*
                                        .image-container:hover {
                                          filter: brightness(80%);
                                        }
                                        .image-container:hover .profile-picture-top{
                                          transform: translateX(5px);
                                        }
                                        .image-container:hover .profile-picture-bottom{
                                          transform: translateX(-5px);
                                        }
                                        */
                                        .profile-picture-top {
                                          display: block;
                                          transition: .5s;
                                          transform: translateX(0px);
                                          width: 25vw;
                                          z-index: 8;
                                        }
                                        .profile-picture-bottom {
                                          display: block;
                                          transition: .5s;
                                          transform: translateX(0px);
                                          width: 25vw;
                                        }

                                        .welcome-hover {
                                          color: #186c96;
                                          cursor: pointer;
                                          display: inline-block;
                                          border-bottom: 2px solid transparent;
                                        }
                                        .welcome-hover:hover {
                                          transition: .5s;
                                          color: gray;
                                          border-bottom: 2px solid gray;
                                          transform: translateY(-5px);
                                        }
                                        .arrow {
                                          margin-top: 2vh;
                                          height: 10vh;
                                          width: 100%;
                                          text-align: center;
                                          transition: .5s;
                                          font-size: 100px;
                                        }
                                        .scroll-down-arrow {
                                          height: 0;
                                          width: 2px;
                                          cursor: pointer;

                                          background-color: black;
                                          display: inline-block;
                                          position: relative;
                                          vertical-align: top;
                                          animation: jump 1s infinite;
                                        }
                                        @keyframes jump {

                                          100% {
                                            height: 10vh;
                                          }
                                        }


.middle {
}
                                        h1 {
                                          margin: 0;
                                          font-size: 20px;
                                        }
                                        .welcome-text-description {
                                          display: inline-block;
                                          text-align: center;
                                          margin-top: 5vh;
                                          height: 20vh;
                                          font-size: 20px;
                                        }
                                        .research-container-outer {
                                          background-color: transparent;
                                          width: 100%;
                                          transition: .5s;
                                        }
                                        .research-title-container {
                                          margin: 15vh 0 0 10vw;
                                          width: 80vw;
                                          display: inline-block;
                                          font-size: 20px;
                                          text-align: center;
                                        }
                                        .research-title{
                                          white-space: nowrap;
                                          font-size: 50px;
                                          width: 100%;
                                          text-align: center;
                                          display: block;
                                          }
                                          .research-text-title {
                                            display: inline-block;
                                            font-size: 40px;
                                          }
                                        .research-text {
                                          display: inline-block;
                                          color: gray;
                                          margin-top: 10vh;
                                        }
                                        .research-descriptor {
                                          margin-left: 9vw;
                                          width: 20vw;
                                          font-size: 15px;
                                        }
                                        .research-text-b {
                                          display: inline-block;
                                        }
                                        .research-button {
                                          cursor: pointer;
                                          font-size: 20px;
                                          margin: 15vh 0 0 0
                                        }
                                        .research-arrow {
                                          filter: invert(100%);
                                          height: 10vh;
                                        }
                                        .read-more-research {
                                          width: 100%;
                                          text-align: center;
                                          margin-top: 5vh;
                                          margin-bottom: 5vh;
                                        }
                                        .read-more-research a {
                                          transition: .25s;
                                        }
                                        .read-more-research:hover a{
                                          color: gray;
                                        }
                                        .read-more-research:hover .arrow-line{
                                          width: 20px;
                                        }
                                        .arrow-line {
                                          display: inline-block;
                                          vertical-align: middle;
                                          height: 1.5px; transition: .5s;
                                          background-color: gray;
                                          width: 0;
                                        }
                                        .research {
                                          display: inline-block;
                                          transition: .25s !important;
                                          cursor: pointer;
                                        }
                                        .research img{
                                          padding: 4vh;
                                          background-color: white;
                                          text-align: center;
                                          margin-bottom: 1vh;
                                        }

                                        .research:hover {
                                          filter: brightness(50%);
                                        }
                                        .research.image-1, .research.image-2, .research.image-3, .research.image-4, .research.image-5,.research.image-6 {
                                          display: inline-block;
                                          vertical-align: top;
                                          object-fit: cover;
                                          width: 38vw;
                                          margin-top: 6vh;
                                        }
                                        .research.image-2 {
                                          display: inline-block;
                                        }
                                        .research.image-3 {
                                          display: inline-block;
                                        }
                                        .research.image-4 {
                                          display: inline-block;
                                        }
                                        .research.image-5 {
                                          display: inline-block;
                                        }
                                        .research.image-6 {
                                          display: inline-block;
                                        }


                                        .publication-container {
                                          height: 125vh;
                                          margin-top: 0vh;
                                        }
                                        .pub-pic-a {
                                          width: 30%;
                                          display: inline-block;
                                          margin-left: 2.5%;
                                        }
                                        .pub-pic-b {
                                          width: 30%;
                                          display: inline-block;
                                          margin: 0 2.5% 0 2.5%;
                                        }
                                        .pub-pic-c {
                                          width: 30%;
                                          display: inline-block;
                                        }
                                        .pub-pic-a img, .pub-pic-b img, .pub-pic-c img {
                                          width: 100%;
                                          height: 80vh;
                                          object-fit: cover;
                                          filter: brightness(50%);
                                        }
                                        .publication-pictures div {
                                          transition: .5s;
                                          cursor: pointer;
                                        }
                                        .publication-pictures div:hover {
                                          filter: sepia(100%);
                                        }
                                        .pub-text-1, .pub-text-2, .pub-text-3 {
                                          font-size: 25px;
                                        }


.news-container {
  background-color: transparent;
}

                                                    .news-title {
                                                      width: 60%;
                                                      margin: 10vh 0 5vh 20%;
                                                      font-size: 60px;
                                                      text-align: center;
                                                      font-weight: normal;
                                                    }

                                                    .news-image {
                                                      width: 60%;
                                                      height: 40vh;
                                                      margin: 0vh 0 0 20%;
                                                      transition: .5s;
                                                      object-fit: cover;
                                                      filter: brightness(50%) grayscale(100%) blur(1px);
                                                      cursor: pointer;
                                                    }
                                                    .news-image.one {

                                                    }

                                                    .news-image.two {

                                                      margin: 5vh 0 0 20%;

                                                    }
                                                    .news-image:hover {
                                                      filter: brightness(80%) grayscale(0) blur(0px);
                                                      transform: scale(1);
                                                    }
                                                    .news-description-1, .news-description-2 {
                                                      margin: 0vh 0 0 20%;
                                                      width: 60%;
                                                      color: white;
                                                      vertical-align: top;
                                                      text-align: center;
                                                      font-size: 30px;
                                                      transform: translateY(-28vh);
                                                      pointer-events: none;
                                                    }
                                                    .news-decription-width {
                                                      width: 40vw;
                                                      display: inline-block;
                                                    }
                                                    .news-read-more {
                                                      margin: 0vh 0 10vh 20%;
                                                      font-size: 40px;
                                                      transition: .5s;
                                                      display: inline-block;
                                                      cursor: pointer;
                                                    }
                                                    .news-read-more:hover {
                                                      color: gray;
                                                    }

.news {
  height: 80vh;
  border-top: 1px solid gray;
}
                                      .news-left {
                                        width: 10%;
                                        display: inline-block;
                                        height: 80vh;
                                        border-right: 1px solid gray;
                                        transition: .5s;
                                        position: absolute;
                                        color: white;
                                        background-color: black;
                                      }
                                      @keyframes infiniteScroll {
                                        50% {
                                          transform: translateX(-21vh);
                                        }
                                        100% {
                                          transform: translateX(21vh);
                                        }
                                      }
                                      .news-left h2{
                                        font-weight: normal;
                                        margin: 0;
                                        transform-origin: bottom left;
                                        transform: rotate(90deg);
                                      }
                                      .news-heading {
                                        font-size: 100px;
                                      }
                                      .news-right {
                                        transition: .5s;
                                        color: white;
                                        font-size: 20px;
                                        display: inline-block;
                                        height: 80vh;
                                        width: 90%;
                                        margin-left: 10%;
                                        position: absolute;
                                        background-image: url(news-d.jpg);
                                        background-size: cover;
                                        background-position: center;
                                        overflow: hidden;
                                      }
                                      .news-list {
                                        list-style: none;
                                        text-align: center;
                                        width: 100%;
                                        height: 80%;

                                      }
                                      .news-list li {
                                        margin: 12.5vh;
                                      }
                                      .news-list li a {
                                        cursor: pointer;
                                        color: white;

                                        transition: .25s;
                                      }
                                      .news-list li a:hover {
                                        color: gray;
                                      }
.open-positions-container {
  text-align: center;
  width: 100%;
  background-color: white;
  margin-top: 10vh;
}
                                                  .circle-positions {
                                                    height: 31vh;
                                                    width: 31vh;
                                                    margin: 10vh;
                                                    border-radius: 50%;
                                                    border: 2px solid black;
                                                    display: inline-block;
                                                    position: absolute;
                                                    transition: .5s;
                                                    cursor: pointer;
                                                    transform: translateX(-1vh) translateY(-.7vh);
                                                  }
                                                  .circle-positions:hover {
                                                    background-color: #cee1ff;
                                                    border: 2px solid #cee1ff;
                                                    transform: translateX(-1vh) translateY(-.7vh) scale(1.3);
                                                    box-shadow: 0px 0 6px 6px #cee1ff;
                                                  }
                                                  .circle-text {
                                                    margin: 10vh;
                                                    height: 30vh;
                                                    width: 30vh;
                                                    animation: rotate 15s infinite linear;
                                                    pointer-events: none;
                                                  }
                                                  @keyframes rotate {
                                                    100% {
                                                      transform: rotate(360deg);
                                                    }
                                                  }





.bottom-nav {
  height: 30vh;
  width: 100%;
  background-color: white;
}
                                                          .group-1, .group-2, .group-3 {
                                                            width: 33%;
                                                            text-align: center;
                                                            margin-top: 0vh;
                                                            display: inline-block;
                                                          }




  .research-container {
    height: 270vh;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 0vh;

  }
                                            .title {
                                              font-size: 60px;
                                              display: inline-block;
                                              transform: translateY(20vh);
                                              opacity: 0;
                                              animation: fadeIn 1s .3s forwards;
                                            }
                                            .paper-text-1 {
                                              text-align: center;
                                              transform: translateY(-70vh);
                                              width: 30vw;
                                              margin-left: 5vw;
                                              font-size: 30px;
                                              pointer-events: none;
                                            }
                                            .paper-1 {
                                              opacity: 0;
                                              animation: fadeIn 1s .8s forwards;
                                              color: white;
                                              margin-left: 40vw;
                                              overflow: hidden;
                                              margin-top: 0vh;
                                              width: 40vw;
                                              height: 90vh;
                                              transition: .5s;
                                            }
                                            .paper-1:hover {
                                              transform: scale(.95);
                                            }
                                            .paper-1:hover img {
                                              filter: brightness(30%);
                                              transform: scale(1.05);
                                            }
                                            .paper-1 img {
                                              display: inline-block;
                                              filter: brightness(50%);
                                              width: 40vw;
                                              cursor: pointer;
                                              transition: .5s;
                                            }
                                            .paper-2 {
                                              color: white;
                                              margin-top: 0vh;
                                              overflow: hidden;
                                              width: 40vw;
                                              height: 90vh;
                                              transition: .5s;
                                            }
                                            .paper-2:hover {
                                              transform: scale(.95);
                                            }
                                            .paper-2:hover img {
                                              filter: brightness(30%);
                                              transform: scale(1.05);
                                            }
                                            .paper-2 img {
                                              display: inline-block;
                                              filter: brightness(50%);
                                              width: 40vw;
                                              cursor: pointer;
                                              transition: .5s;
                                            }
                                            .paper-text-2 {
                                              text-align: center;
                                              transform: translateY(-40vh);
                                              width: 30vw;
                                              margin-left: 5vw;
                                              font-size: 30px;
                                              pointer-events: none;
                                            }


                                            .paper-3 {
                                              color: white;
                                              margin-top: -30vh;
                                              margin-left: 40vw;
                                              overflow: hidden;
                                              width: 40vw;
                                              height: 90vh;
                                              transition: .5s;
                                            }
                                            .paper-3:hover {
                                              transform: scale(.95);
                                            }
                                            .paper-3:hover img {
                                              filter: brightness(30%);
                                              transform: scale(1.05);
                                            }
                                            .paper-3 img {
                                              display: inline-block;
                                              filter: brightness(50%);
                                              width: 40vw;
                                              cursor: pointer;
                                              transition: .5s;
                                            }
                                            .paper-text-3 {
                                              text-align: center;
                                              transform: translateY(-50vh);
                                              width: 30vw;
                                              margin-left: 5vw;
                                              font-size: 30px;
                                              pointer-events: none;
                                            }
